:root {
    --secondary: rgba(159, 159, 159, 0.26);
    --dark-grey: #1e1e1e;
    --nickname: rgb(108, 108, 108);
    --message-hover: #101010;
    --fancy-blue: #2864d6;
    --fancy-blue-hover: #184fb1;
    --fancy-red: #d80b0b;
    --fancy-red-hover: #d51717;
    --semi-transparent: rgba(0, 0, 0, 0.5);
    --basic-white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: 300;
    transition: all 0.05s ease-in-out;
}

a {
    text-decoration: none;
}

svg {
    font-size: 30px;
    background: transparent;
}

.semi-background-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--semi-transparent);
    z-index: 99;
}