:root {
    --secondary: rgba(159, 159, 159, 0.26);
    --nickaname: rgb(108, 108, 108);
    --message-hover: #101010;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
svg{
    font-size: 30px;
    background: transparent;
}
