:root {
    --secondary: rgba(159, 159, 159, 0.26);
    --dark-grey: #1e1e1e;
    --nickname: rgb(108, 108, 108);
    --message-hover: #101010;
    --fancy-blue: #427ce8;
    --fancy-blue-hover: #2d5cb1;
    --fancy-red: #d80b0b;
    --fancy-red-hover: #d51717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: 300;
    transition: all 0.05s ease-in-out;
}

a {
    text-decoration: none;
}

svg {
    font-size: 30px;
    background: transparent;
}
