.comment-on-post-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--semi-transparent);
    z-index: 99;
}
.comment-on-post-modal-content {
    position: relative;
    display: flex;
    max-width: 90%;
    height: 800px;
    max-height: 90%;
    border-radius: 10px;
    background: #222222;
}
.comment-on-post-left-side {
    flex: 1 1 auto;
}
.comment-on-post-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid var(--secondary);
}
.comment-on-post-right-side {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 440px;
    width: 100%;
}
.comment-on-post-user-info-container {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
    padding: 16px;
}
.comment-on-post-profile-picture-container {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background: var(--nickname);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}
.comment-on-post-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.comment-on-post-info-container > span {
    margin-top: 8px;
    font-weight: lighter;
    color: var(--nickname);
}
.comment-on-post-profile-nickname {
    margin-top: 4px;
}
.comment-on-post-profile-nickname > span {
    font-weight: lighter;
    margin-left: 4px;
}
.comment-on-post-close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px;
    font-size: 48px;
    border: none;
    cursor: pointer;
    background: transparent;
}
.comment-on-post-post {
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
    height: 52px;
    border-top: 1px solid var(--secondary);
}
.comment-on-post-post > input {
    outline: none;
    width: 100%;
    height: 40px;
    border: none;
}
.comment-on-post-post > div {
    margin: 0 12px;
    color: var(--fancy-blue);
    cursor: pointer;
}
.comment-on-post-post > div:hover {
    color: var(--fancy-blue-hover);
}
.comment-on-post-post input::placeholder {
    color: var(--nickname);
    font-weight: normal;
}

@media (max-width: 1100px) {
    .comment-on-post-modal-content{
        height: 600px;
    }
}
@media (max-width: 900px) {
    .comment-on-post-modal-content{
        height: 500px;
    }
}
@media (max-width: 700px) {
    .comment-on-post-modal-content{
        max-width: 100%;
    }
    .comment-on-post-left-side{
        display: none;
    }
    .comment-on-post-right-side{
        flex: 1;
    }
}