.messages-container{
    width: 400px;
    height: 100vh;
    left: 76px;
    position: absolute;
    border-right: 1px solid var(--secondary);
}
.user-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    border-bottom: 1px solid var(--secondary);
}
.user-container>:nth-child(2):hover{
    cursor: pointer;
}
.user-message{
    padding: 12px 36px;
}
.user-message:hover{
    background-color: var(--message-hover);
    cursor: pointer;
}
.user-message:hover .info-container>*{
    background-color: var(--message-hover);
}
.user-message:hover .user-info-container{
    background-color: transparent;
}
.user-info-container>span{
    width: 60px;
    height: 60px;
    background: #737373;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .messages-container{
        left: 0;
    }
}
@media (max-width: 950px) {
    .messages-container{
        width: 100px;
    }
    .user-container{
        align-items: center;
        justify-content: center;
        padding: 20px 24px;
    }
    .user-message{
        padding: 12px 16px;
    }
    .user-container > span{
        display: none;
    }
    .user-info-container{
        align-items: center;
        justify-content: center;
    }
    .info-container{
        display: none;
    }
}