.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.login-inner-container {
    border: 1px solid var(--secondary);
    border-radius: 4px;
    padding: 48px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 480px;
}

.login-logo {
    font-size: 20px;
}

.login-info-container {
    width: 100%;
}

.login-info-container > form {
    display: flex;
    flex-direction: column;
}

.login-input-container {
    margin-bottom: 4px;
    width: 100%;
}

.login-input-container > input {
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid var(--secondary);
    outline: none;
    width: 100%;
}

.login-button {
    padding: 10px;
    background-color: var(--fancy-blue);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 32px;
}

.login-button:hover {
    background-color: var(--fancy-blue-hover);
}

.login-forget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-forget {
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
}

.login-have-account {
    font-size: 14px;
    padding: 8px;
}

.login-have-account > span {
    cursor: pointer;
    color: var(--fancy-blue);
}