.comments-container {
    overflow-y: auto;
    max-height: 612px;
}
.comments-container::-webkit-scrollbar {
    width: 1px;
}
.comment {
    padding: 16px;
}
.commenter-container {
    display: flex;
}
.comments-profile-picture-container {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background: #737373;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}
.comments-info-container {
    margin-top: 4px;
    margin-bottom: 8px;
}
.comments-info-container > span {
    font-weight: lighter;
    color: var(--nickaname);
    margin-inline-end: 8px;
    margin-top: 8px;
    cursor: pointer;
}
.comments-like {
    font-size: 20px;
    flex-shrink: 0;
    margin-left: 8px;
}
.comments-like:hover {
    fill: var(--nickaname);
    cursor: pointer;
}
.view-replies > span {
    color: var(--fancy-blue);
    cursor: pointer;
}
.view-replies > span:hover {
    color: var(--fancy-blue-hover);
}