.user-info-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.profile-picture-container{
    width: 50px;
    height: 50px;
    background: #737373;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-container{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.info-container>:nth-child(2){
    color: var(--nickaname);
}