.user-info-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
}

.profile-picture-container {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background: var(--nickname);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    background: transparent;
}

.profile-nickname {
    background: transparent;
}

.info-container > span {
    color: var(--nickname);
    white-space: nowrap;
    background: transparent;
}

@media (max-width: 300px) {
    .profile-nickname-message-open {
        display: none;
    }

    .profile-name-message-open {
        display: none;
    }
}