.post-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
.post {
    max-width: 440px;
    margin-top: 64px;
}
.content-container {
    aspect-ratio: 0.8;
    margin-top: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.like-share-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.like-share-container > *:hover {
    fill: var(--nickname);
    cursor: pointer;
}
.post-owner > span:hover {
    cursor: pointer;
}

.post-comment-container {
    margin-top: 20px;
    cursor: pointer;
}

@media(max-width: 500px) {
    .like-share-container, .post-owner, .comment-container{
        padding: 0 16px;
    }
}