.new-message-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 580px;
    height: 680px;
    max-width: 90%;
    padding: 24px 0;
    border-radius: 10px;
    background: var(--dark-grey);
}

.new-message-modal-inner-overlay {
    background: transparent;
}

.new-message-model-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: transparent;
}

.new-message-model-header > span {
    padding: 10px 28px;
    background: transparent;
}

.new-message-close-btn {
    border: none;
    cursor: pointer;
    font-size: 48px;
    margin: 0 20px;
    background: transparent;
}

.new-message-modal-inner-overlay > form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 28px;
    background: transparent;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

.selected-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 8px 16px;
    margin-left: 8px;
    background: var(--fancy-blue);
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.selected-user:hover {
    background: var(--fancy-blue-hover);
}

.selected-user > span {
    background: transparent;
}

.selected-user-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    font-size: 28px;
    margin-left: 4px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.new-message-input-area {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: transparent;
}

.user-suggestions {
    width: 100%;
    max-height: 448px;
    overflow-y: auto;
    margin-top: 10px;
    list-style: none;
    background: transparent;
}

.user-suggestion-item {
    background: transparent;
    padding: 12px;
    cursor: pointer;
}

.user-suggestion-item:hover {
    background: var(--secondary);
}

.new-message-user-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 12px;
    background: transparent;
}

.new-message-profile-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 50%;
    background: var(--nickname);
}

.new-message-info-container, .new-message-info-container > * {
    background: transparent;
}

.no-user-found {
    padding: 12px 36px;
    color: var(--secondary);
    background: transparent;
}

.new-message-share-btn {
    padding: 10px 20px;
    margin: 0 28px;
    border: none;
    border-radius: 5px;
    background-color: var(--fancy-blue);
    cursor: pointer;
}

.new-message-share-btn:hover {
    background: var(--fancy-blue-hover);
}

.new-message-share-btn-disabled {
    background: var(--secondary);
    cursor: not-allowed;
}

.new-message-share-btn-disabled:hover {
    background: var(--secondary);
}

@media (max-width: 700px) {
    .new-message-modal-content {
        height: 480px;
    }

    .new-message-close-btn {
        top: 70px;
    }

    .user-suggestions {
        max-height: 252px;
    }
}